.contact {
    text-align: center;
    padding: 0 25em;
    padding-bottom: 5em  ;
}

.contact h3 {
    font-size: 3.5em;
    margin-bottom: 1.2em;
}

.contact p {
    font-size: 1.7em;
    margin-bottom: 2em;
}

.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.contact li {
    width: 50px;
    margin-right: 1.5em;
}

