.contact {
    text-align: center;
    padding: 0 25em 5em;
    
}

.contact h3 {
    font-size: 3.5em;
    margin-bottom: 1.2em;
}

.contact p {
    font-size: 1em;
    margin-bottom: 2em;
    letter-spacing: 0.2em;
    line-height: 1.9em;
}

.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.contact li {
    width: 50px;
    margin-right: 1.5em;
    color: rgb(23, 30, 51);
}

.dark .contact li {
    color: aliceblue;
}
