.left {
    text-align: left;
    margin-left: 4em;
    font-size: 2.3em;
}

.me-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5em;
    border-bottom: 3px solid red;
    margin-bottom: 5em;
}

.dark .whole {
    background-color: #003049 ;
    
}

.whole {
    padding-top: 4em;
}

.dark .me-section {
    border-bottom: 3px solid gray;
}

.me-section img {
    width: 550px;
    object-fit: contain;
}

.me-section div {
    width: 500px;
}

.me-section div p {
    font-size: 1.35em;
    font-family: 'Nunito', sans-serif;
}

.me-section button {
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    padding: .5em 2em;
    background-color: white;
    background: linear-gradient(to right, black 0%, black 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .4s;
    border-radius: 8px;
    color: black;
}

.me-section button:hover {
    cursor: pointer;
    background-position:0 0;
    color: white;
    
}

.dark button:hover {
    color: black;
}

 .dark button {
    margin-top: 4em;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    padding: .5em 2em;
    background-color: white;
    background: linear-gradient(to right, #fcbf49 0%, #fcbf49 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .4s;
    border-radius: 8px;  
    color: black;
}

.text-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}