

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');

.project-holder {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 7em;
    
}

.project-attributes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 480px;
    padding: 1em;
}

h5 {
    font-size: 2.5em;
    margin: 0 0 .6em;
    font-family: 'Nunito', sans-serif;
}

.project-attributes p {
    margin-bottom: 1em;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
}

h4 {
    text-align: center;
    font-size: 3.1em;
}

#all-projects h4 {
    padding-top: 1.5em ;
    padding-bottom: 1.5em;
}

img {
    max-width: 700px;
    border-radius: 25px;
}

ul{
    margin-bottom: 1.5em;
    font-size: 1.3em;
}

.project-attributes button {
    font-size: 1.2rem;
    padding: 1.5em 2.5em;
    background: yellow;
    display: inline-block;
    background: linear-gradient(to right, #C32F27 0%, #C32F27 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .4s;
    border: none;
    border-radius: 15px;
}

.dark .project-attributes button {
    background: linear-gradient(to right, #BB86FC 0%, #BB86FC 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
}


.project-attributes button:hover {
    background-position:0 0;
    color: white;
    cursor: pointer;
    
}


.project-holder img:hover {
    transform: translateY(-7px);
    cursor: pointer; 
}

.final {
    border-bottom: 3px solid grey;
}

.center {
    text-align: center;
}

#all-projects.dark {
    background-color: #142634;
    color: silver;
}