#web-img {
    max-width: 1000px;
    margin: 7em auto 0;
    display: block;
    padding-top: 3em;
}

.explanation h3 {
    font-size: 3.2em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.explanation {
    padding: 1em 15em 5em;
}

.explanation p {
    font-size: 1.7em;
    margin-bottom: .5em;
    letter-spacing: .1em;
    line-height: 1.7em;
}

.explanation li {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.logos {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.logos li {
    margin-right: 1.5em;
}

.dark .web-nav {
    background-color: #3C3744;
}

.light .web-nav {
    background-color: #FBFFF1;
}